#DomainName:"ADI_designs"
#OwnerName:"zaheer.ahmad"
#Status:"active"
#DFFs_margin:"0"
#LUTs_margin:"0"
#BRAMs_margin:"0"
#DSPs_margin:"0"
#CLBs_margin:"0"
#adder_carry:"0"
#fmax_margin:"5"
#LUTs_CLBs_ratio_margin="5"
#CLB_percentage_used_margin="5"
#FLE_Percentage_used_margin:"10"
#Wirelength_Percentage_used_margin:"10"
#Packer_time_margin:"20"
#Router_time_margin:"20"