#DomainName:"unit_designs"
#OwnerName:"zaheer.ahmad"
#Status:"active"
#registers_margin:"10"
#LUTs_margin:"10"
#BRAMs_margin:"10"
#DSPs_margin:"10"
#CLBs_margin:"10"
#adder_carry_margin:"10"
#fmax_clock1_margin:"5"
#LUTs_CLBs_ratio_margin:"5"
#CLB_percentage_used_margin:"5"
#FLE_Percentage_used_margin:"10"
#Wirelength_Percentage_used_margin:"10"
#Synthesis_time_margin:"20"
#Packer_time_margin:"20"
#Placer_time_margin:"20"
#Router_time_margin:"20"
#Bitstram_time_margin:"20"